In [ ]:
#Import Libraries
import pandas as pd
import numpy as np
import scipy.stats as stats

In [ ]:
#Create DataFrame
df = pd.DataFrame({
    "Transaction_Amount": [100,150,50,100,130,120,100,85,70,150,150,120,50,100,100,140,90,150,50,90,120,100,110,75,65]
})
df.dtypes

Transaction_Amount    int64
dtype: object

In [ ]:
len(df)

25

In [ ]:
#Central Tendency
import statistics
print(df.mean())
print(df.median())

Transaction_Amount    102.6
dtype: float64
Transaction_Amount    100.0
dtype: float64

In [ ]:
#Tulis analisismu dari Central Tendency di sini
#Berdasarkan hasil dari Analisis Central Tendency, dari 25 hasil penjualan didapatkan Mean 102.6 dan Median 100. Ini menunjukkan training yang dilakukan kepada pekerja menghasilkan peningkatan penjualan

In [ ]:
#Variability
print(np.var(df))
print(np.std(df))
print(np.max(df))
print(np.min(df))
print(np.max(df) - np.min(df))
print(np.quantile(df, 0.25))
print(np.quantile(df, 0.5))
print(np.quantile(df, 0.75))

Transaction_Amount    972.24
dtype: float64
Transaction_Amount    31.180763
dtype: float64
150
50
100
85.0
100.0
120.0

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3785: FutureWarning: The behavior of DataFrame.var with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3643: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [ ]:
#Tulis analisismu dari Variability di sini
#Berdasarkan hasil dari Analisis Variability, dari 25 hasil penjualan didapatkan Variance 972.24, Standard Deviasi 31.180, Max 150, Min 50, Range 100, Q1 85, Q2 100, dan Q2 120

In [ ]:
#Define H0 and H1
import scipy.stats as stats
#H0: Rata-rata hasil penjualan = 100
#H1: Rata-rata hasil penjualan > 100

In [ ]:
#Define alpha = 0.05

In [ ]:
#Calculate t statistics and P-value
#Perform one sample t-test

stats.ttest_1samp(a=df, popmean=100)

TtestResult(statistic=array([0.40850016]), pvalue=array([0.68652848]), df=array([24]))

In [ ]:
#statistic= 0.40850016, pvalue= 0.68652848

In [ ]:
#Conclude with alpha and p-value
#Dikarenakan nilai p-value lebih besar dari alpha, maka hasil test H0 gagal
#Conclusion: Rata-rata hasil penjualan tetap 100

In [ ]:
#Conclude with t statistics and critical region
#Find the critical region

In [ ]:
#H1: Lager (Right Side)
stats.t.ppf(1-0.05, 24)

1.7108820799094275

In [ ]:
#Critical region result : t > 1.71
#Dikarenakan nilai p-value lebih besar dari alpha, maka hasil test H0 gagal
#Conclusion: Rata-rata hasil penjualan tetap 100